<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerAudioPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerAudioPlayer.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MemoryPlayListSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPlayLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisbaleAutoPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OutputFreq" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="DisplayTitleFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MIDIVoice" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MIDISoundFont" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>0, 128, 192</value>
            </setting>
            <setting name="ThemeColorFollowSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowSpectrum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAlbumPicture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpectrumLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpectrumPeakWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpectrumDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpectrumPeakDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpectrumLinear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpectrumFull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpectrumHighQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestFileIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EQEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EQ0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQGain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherEffectEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherEffectTempo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherEffectPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherEffectReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListAutoLocate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableAutoNextWhenError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMiniMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiniModeFormLocation" serializeAs="String">
                <value>60, 60</value>
            </setting>
            <setting name="BgEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BgUseAlbumPicture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BgOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BgBlur" serializeAs="String">
                <value>35.5</value>
            </setting>
            <setting name="BgDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="BgDefaultUseDesktopBg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LrcMargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EQ4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EQ3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentPlayList" serializeAs="String">
                <value>0</value>
            </setting>
        </PowerAudioPlayer.Properties.Settings>
    </userSettings>
</configuration>